@import 'https://fonts.googleapis.com/css?family=Indie+Flower';
body {
  background-color: #009885;
  font-family: 'Indie Flower', cursive;
}

#run {
  position: absolute;
  top: -269px;
  left: -623px;
  z-index: -999;
  width: 610px;
  height: 580px;
  background-image: url(https://cdn.dribbble.com/users/207059/screenshots/1820812/fatboywalkingdribbble2.gif);
  background-repeat: no-repeat;
}

#content {
  padding: 0px;
  margin 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -135px;
  margin-top: -135px;
}

input[type='text'] {
  font-family: 'Indie Flower', cursive;
  width: 250px;
  height: 45px;
  margin: 2px 0;
  border: none;
  border-radius: 3px;
  padding: 0 0 0 15px;
  font-size: 22px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.15);
}

input[type="button"] {
  font-family: 'Indie Flower', cursive;
  width: 263px;
  padding: 0 0 0 15px;
  margin: 0 auto;
  display: table;
  font-weight: bold;
  height: 50px;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 23px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  color: #009885;
}

::-webkit-input-placeholder {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}

:-moz-placeholder {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}

::-moz-placeholder {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}

:-ms-input-placeholder {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}

#message {
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}

#title {
  text-align: center;
  color: #FFFFFF;
  font-size: 30px;
}
